/build
/subprojects/*
!/subprojects/packagefiles
!/subprojects/freetype.wrap
!/subprojects/libcamera.wrap
!/subprojects/libpisp.wrap
!/subprojects/openssl.wrap
!/subprojects/libjpeg-turbo.wrap
!/subprojects/openh264.wrap
/.git
/scripts
