name: release

on:
  push:
    tags:
    - 'v*'

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  build_32:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - run: make -f utils.mk build_32

    - run: cd build && tar -czf mtxrpicam_32.tar.gz mtxrpicam_32

    - uses: actions/upload-artifact@v4
      with:
        path: build/mtxrpicam_32.tar.gz
        name: mtxrpicam_32.tar.gz

  build_64:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - run: make -f utils.mk build_64

    - run: cd build && tar -czf mtxrpicam_64.tar.gz mtxrpicam_64

    - uses: actions/upload-artifact@v4
      with:
        path: build/mtxrpicam_64.tar.gz
        name: mtxrpicam_64.tar.gz

  pre_release:
    needs:
    - build_32
    - build_64
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/download-artifact@v5
      with:
        name: mtxrpicam_32.tar.gz
        path: binaries/

    - uses: actions/download-artifact@v5
      with:
        name: mtxrpicam_64.tar.gz
        path: binaries/

    - run: cd binaries && sha256sum -b * > checksums.sha256

    - uses: actions/attest-build-provenance@v3
      with:
        subject-path: '${{ github.workspace }}/binaries/*'

    - uses: actions/upload-artifact@v4
      with:
        name: binaries
        path: binaries

  github_release:
    needs:
    - pre_release
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/download-artifact@v5
      with:
        name: binaries
        path: binaries

    - uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const fs = require('fs').promises;
          const { repo: { owner, repo } } = context;

          const currentRelease = context.ref.split('/')[2];

          const res = await github.rest.repos.createRelease({
            owner,
            repo,
            tag_name: currentRelease,
            name: currentRelease,
          });
          const release_id = res.data.id;

          for (const name of await fs.readdir('./binaries/')) {
            await github.rest.repos.uploadReleaseAsset({
              owner,
              repo,
              release_id,
              name,
              data: await fs.readFile(`./binaries/${name}`),
            });
          }
