name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_32:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - run: make -f utils.mk build_32

    - run: cd build && tar -czf mtxrpicam_32.tar.gz mtxrpicam_32

    - uses: actions/upload-artifact@v6
      with:
        path: build/mtxrpicam_32.tar.gz
        name: mtxrpicam_32.tar.gz

  build_64:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - run: make -f utils.mk build_64

    - run: cd build && tar -czf mtxrpicam_64.tar.gz mtxrpicam_64

    - uses: actions/upload-artifact@v6
      with:
        path: build/mtxrpicam_64.tar.gz
        name: mtxrpicam_64.tar.gz

  test_bullseye_32:
    needs: build_32
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v6
      with:
        name: mtxrpicam_32.tar.gz
        path: build/

    - run: cd build && tar xvf mtxrpicam_32.tar.gz

    - run: make -f utils.mk test_bullseye_32

  test_bullseye_64:
    needs: build_64
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v6
      with:
        name: mtxrpicam_64.tar.gz
        path: build/

    - run: cd build && tar xvf mtxrpicam_64.tar.gz

    - run: make -f utils.mk test_bullseye_64

  test_bookworm_32:
    needs: build_32
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v6
      with:
        name: mtxrpicam_32.tar.gz
        path: build/

    - run: cd build && tar xvf mtxrpicam_32.tar.gz

    - run: make -f utils.mk test_bookworm_32

  test_bookworm_64:
    needs: build_64
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v6

    - uses: actions/download-artifact@v6
      with:
        name: mtxrpicam_64.tar.gz
        path: build/

    - run: cd build && tar xvf mtxrpicam_64.tar.gz

    - run: make -f utils.mk test_bookworm_64
